<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qr generator</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
      <div id="container" class="bg-blue-400 h-[100vh] w-[100vw] flex">
                <div id="input" class="absolute left-[40%]">
                    <p class="text-[2vmax]">Enter the link to generate QR code</p>
                    <input type="text" class="h-10 rounded w-64">
                    <button class="bg-red-100 h-10 w-20 rounded">create QR</button>
                </div>
                <div id="image" class="absolute left-[40%] top-[20%]">
                      <img src="{{url_for('static', filename='./myqr.png')}}" alt="sid">
                      <button class="bg-red-100 h-10 w-20 rounded mt-10">download</button>
                </div>
      </div>
</body>
</html>